

<h1><%= @team.name%></h1>
<h2> Team Motto: <%=@team.motto%>!</h2>

<% @heroes.each do |s| %>
      <h2>Hero Name: <%= s.name%></h2>
      <p>Hero Power: <%= s.power%></p>
      <p>Hero Biography: <%= s.biography%></p>
    <% end %>